INCLUDE "default.nginx"

mysite.no from site.no:
  root: "/var/www"
  index: "index.html"
  log_name: "/var/log/mysite.log"
  error_page: 404 "404.html"
  error_page: 500 502 503 504 "/50x.html"
  https_redirect: true
  template: php7.2 
