mywebsite.com
www.mywebsite.com:
	port: 8080
	ssl_certificate: "/etc/file"
	ssl_certificate_key: "/etc/file"
	ssl_dhparam: "/etc/lol"
	gzip: true
	https_redirect: true
	error_page: 500 501 "/50x.html"

default
mysite.com
*.mysite.com:
	root: "/var/www/html"
	template: php5.6
	error_page: 500 501 "/50x.html"
	error_page:404 "/404.html"