mywebsite.com
www.mywebsite.com:
	port: 3000
	ssl_certificate: "/etc/file"
	ssl_certificate_key: "/etc/file"
	ssl_dhparam: "/etc/lol"
	gzip: true
	https_redirect: true
	error_page: 500 501 "/50x.html"

default
mysite.com
*.mysite.com:
	port: 8080
